:root {
  // basic
  --pure-black: #000;
  --black: #1e1e1e;
  --dark-gray: #333;
  --deeper-gray: #4a4a4a;
  --gray: #666;
  --light-gray: #999;
  --bright-gray: #afafaf;
  --off-white: #fdfdfd;
  // common
  --primary: #86a873;
  @primary: #86a873;
  --primary-hover: lighten(@primary, 5%);
  // spec
  --page-background: var(--off-white);
  --text-title: white;
  --text-subtitle: var(--gray);
  --text-footer: var(--light-gray);
  --text-footer-hover: var(--bright-gray);
  --article-block-border: lighten(@primary, 5%);
  --article-block-text: var(--deeper-gray);
  --article-block-footer: var(--light-gray);
  --article-title: var(--dark-gray);
  --article-meta: var(--light-gray);
  --article-text: var(--gray);
  --article-link-hover: var(--pure-black);
  --article-border: lighten(@primary, 5%);
  --article-title-border: #eee;
  --article-code-bg: #fafafa;
  --paginator-front: var(--primary);
  --paginator-back: var(--light-gray);
  --notfound-text: var(--gray);
}
